/* Azzerare i margini di default del browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Rendiamo l'html e il body del sito largo e alto come tutta la schermata */
html, body {
    width: 100%;
    height: 100%; 
    overflow: hidden; 
}

/* Assicurare che il Wrapper (che in React è il contenitore radice) copra l'intera area visibile */
.Contenitore {
    background-color: Gray;
    width: 100vw;
    height: 100vh; /* 100% dell'altezza della viewport */
}