/* Azzerare i margini di default del browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

.Contenitore {
    width: 100vw;
    height: 100vh;
    background-color:#FAEBD7;
    overflow-y:scroll;
    overflow-x: hidden;
}