
/* --- CSS RELATIVO AL NODO PRESENTE NELLA SCHERMATA, QUELLO EFFETTIVO --- */

.stile-nodo {
  border: 2px solid black;
  padding: 10px;
  border-radius: 20px;
  width: 150px;
  background: white;
  text-align: center;
}

.descrizione-nodo {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

/* -------------------------------------------------------------- */

