.StileNavbar {
    width: 100%;
    height: 60px;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    background-color:#AFEEEE;
    border-bottom: 2px solid #121212;
}

.StileElementiNav {
    padding-left: 40px;
    display: flex;
    gap: 70px;
    justify-content: left;
    align-items: center;
    height: 100%;
    font-family:'Courier New', Courier, monospace;
}

.StileElementiNav :hover {
    cursor: pointer;
    background-color:#FAEBD7;
}

.StileElementiNav :visited {
    text-decoration: none;
    color: inherit;
}

.StileBottoneNav {
    width: 150px;
    height: 30px;
    border: 1px solid;
    border-radius: 8px;
}

