/*
FOGLIO DI STILE RIGUARDANTE GLI ELEMENTI NATIVI DI REACT FLOW, COME LA MINIMAPPA, 
IL BLOCCO ZOOM-IN ZOOM-OUT, GLI EDGES, NODES ETC.
*/

.sposta-controlli { transition: transform 0.3s ease; }
.sposta-minimappa { transition: transform 0.3s ease; }
.sposta-contenitore-warning { transition: transform 0.3s ease; }
.sposta-controlli.aperta { transform: translateX(310px); }
.sposta-minimappa.aperta { transform: translateX(-310px); }
.sposta-contenitore-warning.aperta { transform: translateX(-310px); }

/* Personalizzazione Controlli */
.StileDivWorkflow .react-flow__controls {
  border: 2px solid;
  border-radius: 8px;
  overflow: hidden;
}

/*
React flow controls, button, minimap e tutto quello legato a react-flow sono stili css che vengono applicati
in automatica di default da relax e qui li andiamo ad adattare al nostro editor.
*/

.StileDivWorkflow .react-flow__controls-button {
  background-color: #AFEEEE;
  border-bottom: 1px solid black;
}

/* Personalizzazione MiniMap */
.StileDivWorkflow .react-flow__minimap {
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Linee di collegamento (Edges). */
.react-flow__edge-path {
  stroke: black;
  stroke-width: 2;
  transition: stroke 0.3s, stroke-width 0.3s;
}

/* Quando i collegamenti vengono selezionati, cambiano colore. */
.react-flow__edge.selected .react-flow__edge-path {
  stroke: #AFEEEE !important;
  stroke-width: 4;
}

/* Specifichiamo le caratteristiche di tutti gli elementi precedenti quando si passa alla dark mode. */
.dark-mode .react-flow__minimap { border: 2px solid white; }
.dark-mode .react-flow__controls-button { color: black; }
.dark-mode .react-flow__edge-path { stroke: white; }
.dark-mode .react-flow__node { background: transparent !important; border: none; box-shadow: none !important; }